subject = "Recebemos seu interesse"
==
Olá, você se cadastrou para ser avisado assim que as inscrições para o curso "{{ data.course_name }}" forem abertas.
Pode ficar tranquilo que lhe enviaremos um email! :)    
==
<table>
<tr>
    <td colspan="4"></td>
</tr>
<tr>
    <th> </th>
    <th> </th>
    <th>
        <h1>Olá,</h1>
    </th>
    <th> </th>
</tr>
<tr>
    <td> </td>
    <td> </td>
    <td>
        Você se cadastrou para ser avisado assim que as inscrições para o curso <strong>"{{ data.course_name }}"</strong> forem abertas.
        <br/><br/>
        Pode ficar tranquilo que lhe enviaremos um email! :)
        <br/>
        <br/>
        Até lá! 
    </td>
    <td> </td>
</tr>
</table>